.Addproduct {
  height: 50vh;
  width: 30vw;
  background-color: antiquewhite;
  border-radius: 5%;
}

.formcss {
  padding: 5%;
}

.formHeader {
  padding-left: 8%;
  padding-top: 5%;
}

.formHeaderText {
  color: #4f261a;
}
