* {
  font-family: "Alumni Sans", sans-serif;
}

.logo {
  width: 60%;
}

.search-bar {
  border-radius: 20px;
}

.nav-text {
  color: #edcfa9;
  font-size: 25px;
}

.stack {
  background-color: white;
}
